@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на страницу проекта Project-I</h1>
    <h4>Для того чтобы начать работу воспользвуйтесь строкой навигации в верхней части страницы</h4>
    <h4>Оставить отзыв можно по ссылкам либо через электронную почту</h4>
    <div class="row col-12 text-center">
        <a href="https://github.com/MrDiviner/CourseWork/issues/new" target="_blank" class="btn btn-dark">Github</a>
        <a href="https://t.me/johnbahmat" class="btn btn-primary" target="_blank">Telegram</a>
        <a href="mailto:yevhenii.bakhmat@nure.ua" class="btn btn-warning" target="_blank">E-Mail</a>
    </div>
</div>
